@page "/{slug}"
@inject NavigationManager Navigator

<div class="d-flex flex-column align-center justify-center">
    <MudText Typo="Typo.h2" Class="mb-4">Please wait.</MudText>
    <MudText Typo="Typo.h4">Redirecting you to /@Slug...</MudText>
</div>

@code {
    [Parameter]
    public string? Slug { get; set; }
    
    // You exist to do one thing.
    protected override void OnInitialized() => Navigator.NavigateTo(Navigator.Uri, forceLoad: true);
}